@import "public";
@mixin box-shadow($value:2px, $value:0px,$value: 5px,$value:3px,$value: rgba(0, 0, 0, .3)){
    box-shadow: $value, $value ,$value, $value, $value;
    //水平 垂直 模糊距离  阴影尺寸 颜色 
} ;
 // box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);

@mixin borderstyle($size:1px, $style:solid, $color:black) {
    border: $size $style $color;
}
  $color:#666666;
  $warpwidth:1226px;
  $center:0 auto;

//   这里是列表页渲染的头部
.list-wrap{
    width: $warpwidth;
    margin:$center;
    text-align: center;
    .tip{
        float: left;
        @include width-height-line-height(200px,48px,48px);
        font-size: 16px;
        color: #333333;
        background: #f1f1f1;
    }
    .list-option{
        width: 1000px;
        background: #f1f1f1;
        float: right;
        overflow: hidden;
        button{
            border: 1px solid #e6e6e6;
            float: left;
           @include width-height-line-height(84px,45px,45px);
           @include radius();
           margin-left: 20px;
            &:hover{
                background: red;
                color: white;
            }
        }
    }
  //激活选项的样式
//  .list-option li.active{
//        width: 110px;
//        color: red;
//        background: white;
//   }
 
   //这是列表页的渲染
.list-DataSeries{

     float: right;
     width: 1000px;
 .DataSeries{
     @include tangxinghe(row,wrap,flex-start);
  
 } 
    overflow: hidden;
        li{  
            text-align: center;
            margin-left: 10px;
            margin-top: 14px;
            $box-sizing:border-box;
            background: white;
            width: 240px;
            @include tangxinghe(column,wrap,space-around);
            @include w-h(240px,360px);
        &:hover{
               box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        }
         i,b,p,.jiage,.gwc{
               display: block;
               @include width-height-line-height(190px,22px,22px);
               margin: 0 auto;
            };
         h3,h6{
              display: inline-block;
     
            }
         img{
               @include w-h(190px,190px);
               margin: 0 auto;
            }
          i{
              color: #000;
              font-size: 16px;
              @include ellipsis();
           }
         b{
              font-size: 12px;
              color:  #666;
           }
         .jiage{
             @include tangxinghe();
              @include width-height-line-height(190px,22px,22px);

             h3{
                        color: red;
                        float: left;

                    }
            h6{
                       color: #999999;
                    }

         }
          
           .gwc{
            @include width-height-line-height(190px,22px,22px);
             color:  #f12020; 
           }
   
  
  }
 }   
}



