@import "public";
@import "toolbar-nav";
@import "home-footer";
.car-detail{
    overflow: hidden;
    .car-detail-wrap{
        overflow: hidden;
        position: relative;
        @include warp-center();
        height: 700px;
       @include tangxinghe(row,wrap,space-between);
       
        .pic{
            #spic{  //放小放大镜的地方
             border: 1px solid;
             @include w-h(510px,510px);
             border: 1px solid #e1e1e1;
                 #smallpic{ //小图
                @include w-h(510px,510px);
                border: 0;
                
             }
                 #sf{  //小放大镜
                  z-index: 99;
                  visibility: hidden;
                  @include position(left,absolute,20px,20px);
                  background: #F8B600;
                  border: 1px solid #987777;
                  @include opacityvalue(0.4);
                  cursor: move;
              }
          }
          #bf{//这个是大放大镜
            visibility: hidden;
            @include position(left,absolute,514px,0px);
            @include w-h(510px,510px);
            border: 1px solid #e1e1e1;
            overflow: hidden;
              img{
                @include w-h(1020px,1020px);
                @include position(left,absolute,514px,0px);
              }
          }
      }
      
   
   }
}
//这里是轮播图
#ulist{
 @include tangxinghe(flex,row,space-between);
//  float: left;
 @include w-h(510px,106px);
 @include position(left,absolute,0px,540px);
    #btn-left,#btn-right{
      color: #d1d1d1;
      font-size: 30px;
      @include width-height-line-height(20px,106px,106px);
      
    }
}
//这里是小轮播图
#list ul{
  width: 470px;
  height: 108px;
  overflow: hidden;
  @include tangxinghe();
  img{
    @include w-h(106px,108px);
  }
}

  //这个是购物车右侧的详情
 #goodsinfo-word{
   @include w-h(650px,510px);
  li{
     border-bottom: 1px solid #e1e1e1;
  
      @include w-h(650px,61px);
  }  
   .p-name{
     .loadtitle{
      color: #333333;
      font-size: 16px;
     }
     .loadtitle2{
       display: block;
       color: #666666;
       font-size: 12px;
       margin-top: 16px;
     
     }
   }
  
      .p-price{
      color: red;
      font-size: 23px;
       line-height: 61px;
      }
     .p-btn{ 
       margin-top: 10px;
       color: black;
       text-align: center;
       @include w-h(130px,38px);
       border: 1px solid #d1d1d1;
       @include tangxinghe();
       .add,.del{
          text-align: center;
          color: black;
          display: inline-block;
          font-size: 20px;
          @include width-height-line-height(36px,38px,38px);
       }
       .input{
         border: 1px solid #d1d1d1;
         @include w-h(55px,36px);
         text-align: center;

       }
     }
     .addcart{

       a{ 
          display: block;
          margin-top: 10px;
          margin-left: 10px;
          text-align: center;
          @include width-height-line-height(108px,38px,38px);
          border: 1px solid #d1d1d1;
          background: red;
          color:white ;

       }
    }
 }